<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div layout:fragment="content">
            <!-- Single Page Header start -->
            <div class="container-fluid page-header shop-header py-5">
                <h1 class="text-center text-white display-6">Food Detail</h1>
            </div>
            <!-- Single Page Header End -->


            <!-- Single Product Start -->
            <div class="container-fluid py-5 mt-5">
                <div class="container py-5">
                    <div class="row g-4 mb-5">
                        <div class="col-lg-4 col-xl-3">
                            <div class="row g-4 fruite">
                                <div class="col-lg-12">
                                    <div class="input-group w-100 mx-auto d-flex mb-4">
                                        <input type="search" id="query" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                                        <button id="searchButton" type="submit" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                                    </div>
                                    <div class="mb-4">
                                        <h4>Categories</h4>
                                        <div class="scrollable" id="results">
                                            <ul class="list-unstyled fruite-categorie">
                                                <li th:each="category: ${categories}">
                                                    <div class="nav-item dropdown">
                                                        <div class="d-flex justify-content-between fruite-name">
                                                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                                <i class="fas fa-apple-alt me-2" th:text="' ' + ${category.categoryName}"></i>
                                                            </a>
                                                            <div class="dropdown-menu m-0 bg-secondary rounded-0" >
                                                                <a class="dropdown-item searchCategory" th:each="child: ${category.childCategory}"
                                                                   th:data-filter-type="category" th:data-filter-value="${child.categoryId}"
                                                                   th:text="${child.categoryName}" >
                                                                </a>
                                                            </div>
                                                            <span th:text="${#lists.size(category.childCategory)}">(3)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h4 class="mb-4">인기 식품</h4>
                                    <div id="preferrerd-food-list">
                                        <!--food_detail.js loadPreferrerdfood 동적 뷰 생성 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-xl-9">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="border rounded">
                                            <img th:if="${food.name} == ${food.categoryName}" th:src="@{'/common/img/category/' + ${food.categoryName} + '.jpg'}" class="img-fluid rounded foodImage" alt="Image">
                                            <img th:unless="${food.name} == ${food.categoryName}" th:src="@{'/common/img/category/' + ${food.categoryName} + '_' + ${food.name} + '.jpg'}" class="img-fluid rounded foodImage" alt="Image">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div id="food-wrap-container">
                                        <h4 class="fw-bold mb-3" id="foodname" th:text="${food.name}"></h4>
                                        <div class="food-bookmark">
                                            <button id="favorite-button" class="food-favorite" onclick="toggleFavorite()"><i class="bi bi-star-fill"></i></button>
                                            <button id="exclude-button" class="food-exclude" onclick="toggleExcludeFood()"><i class="bi bi-clipboard-x"></i></button>
                                        </div>
                                    </div>
                                    <p class="mb-3" th:text="Category+' : ' + ${food.categoryName}" style="font-weight: bold; color: #000"></p>
                                    <p class="mb-3" th:text="'식품중량 : ' + ${food.weight} + 'g/ml'" style="font-weight: bold; color: #000"></p>
                                    <h4 id="nutriKcal"></h4>
                                    <div class="top-nutri-content">
                                        <div class="showShop">
                                            <p class="mb-4" id="nutriText"></p>
                                            <a th:href="@{https://www.ssg.com/search.ssg(target='all', query=${food.name} + ${food.categoryName})}" target="_blank"><p class="mb-4">쓱에서 식품보기</p></a>
                                            <a th:href="@{https://mfront.homeplus.co.kr/search(entry='direct', keyword=${food.name} + ${food.categoryName})}" target="_blank"><p class="mb-4">홈플러스에서 식품보기</p></a>
                                            <a th:href="@{https://www.lotteon.com/search/search/search.ecn(render='search', platform='pc', q=${food.name} + ${food.categoryName}, mallId='4')}" target="_blank"><p class="mb-4">롯데마트에서 식품보기</p></a>
                                        </div>
                                        <div class="chart-nutri">
                                            <canvas id="nutritionChart-detail"></canvas>
                                        </div>
                                    </div>
                                    <button type="button" th:foodId="${food.id}" th:onclick="addBasket(this.getAttribute('foodId'))" class="btn border border-secondary rounded-pill px-3 text-primary">
                                    <i class="fa fa-shopping-bag me-2 text-primary"></i>담기</button>
                                </div>
                                <div class="col-lg-12">
                                    <nav>
                                        <div class="nav nav-tabs mb-3">
                                            <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                                    id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                                    aria-controls="nav-about" aria-selected="true">영양성분표</button>
                                        </div>
                                    </nav>
                                    <div class="tab-content mb-5">
                                        <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                            <div id="nutri-row">
                                                <button id="toggleSize" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">총제공량 보기</button>
                                            </div>
                                            <div id="nutritablerow">
                                                <div class="col-6">
                                                    <div class="row align-items-center text-center justify-content-center py-2 nutri-col">
                                                        <table class="nutritable" id="nutrientTable">
                                                            <thead class="nt-header">
                                                                <tr>
                                                                    <th>성분</th>
                                                                    <th>양</th>
                                                                    <th>퍼센티지</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            <!--js로 동적추가-->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-6 nutri">
                                                    <div class="row align-items-center text-center justify-content-center py-2 nutri-col">
                                                        <table class="nutritable" id="nutrientTable2">
                                                            <thead class="nt-header">
                                                                <tr>
                                                                    <th>성분</th>
                                                                    <th>양</th>
                                                                    <th>퍼센티지</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            <!--js로 동적추가-->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Product End -->


            <!-- Footer Start -->
            <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
                <div class="container py-5">
                    <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                        <div class="row g-4">
                            <div class="col-lg-3">
                                <a href="#">
                                    <h1 class="text-primary mb-0">Nutri - Well</h1>
                                    <p class="text-secondary mb-0">Fresh products</p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <div class="position-relative mx-auto">
                                    <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" >
                                    <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="d-flex justify-content-end pt-3">
                                    <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                                    <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-5">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-item">
                                <h4 class="text-light mb-3">Nutri Well, 왜 이용할까요?</h4>
                                <p class="mb-4">식품의 영양정보와 매일매일 섭취한 영양소을 기록해두세요. 개인의 영양상태를 파악하고, 다양한 식품들의 영양소 정보를 제공하여 건강한 식생활을 돕는것을 목표로 합니다.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex flex-column text-start footer-item">
                                <h4 class="text-light mb-3">개발자</h4>
                                <p>진영록</p>
                                <p>남정길</p>
                                <p>조상우</p>
                                <p>이희찬</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex flex-column text-start footer-item">
                                <h4 class="text-light mb-3">도움주신 분들</h4>
                                <a class="btn-link" href="#">김서연 강사님</a>
                                <a class="btn-link" href="#">최승호 멘토님</a>
                                <a class="btn-link" href="#">조영일 멘토님</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-item">
                                <h4 class="text-light mb-3">Contact</h4>
                                <a class="btn-link" href="https://github.com/6worry">진영록</a>
                                <a class="btn-link" href="https://github.com/letsgilit">남정길</a>
                                <a class="btn-link" href="https://github.com/sangwoo-00">조상우</a>
                                <a class="btn-link" href="https://github.com/nrg5477">이희찬</a>
                                <img src="/common/img/payment.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->


            <!-- Copyright Start -->
            <div class="container-fluid copyright bg-dark py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Nutri - Well</a>, All right reserved.</span>
                        </div>
                        <div class="col-md-6 my-auto text-center text-md-end text-white">
                            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright End -->
            <div id="foodContainer" th:data-food="${foodId}"></div>


            <!-- Back to Top -->
            <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top">
                <i class="fa fa-arrow-up"></i>
            </a>
        </div>
    </body>
</html>